.input {
  appearance: none;
  height: 18px;
  width: 18px;
  background: var(--color-surface-subtle);
  border-radius: var(--spacing-xxs);
  border: var(--border-secondary);
  cursor: pointer;
  color: var(--color-surface-primary);
}

.input:checked {
  border-color: transparent;
  background-color: var(--color-surface-accent);
}

.check {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  color: var(--color-surface-primary);
}

.input:checked ~ .check {
  opacity: 1;
}

.input:disabled {
  background-color: var(--color-surface-neutral);
  border-color: var(--color-surface-disabled);
  color: var(--color-foreground-subtle);
  cursor: not-allowed;
}

.input:disabled ~ .check {
  color: var(--color-foreground-tertiary);
}

.wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.input:focus {
  outline: none;
  border: var(--border-secondary);
}

.wrapper:has(.input:focus)::before {
  content: "";
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  background: var(--color-surface-focus);
  pointer-events: none;
}
