.card {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: var(--spacing-sm);
  gap: var(--spacing-sm);
}

.card > li:not(:last-child) {
  border-bottom: var(--border-subtle);
  padding-bottom: var(--spacing-sm);
}
